.signupParentDiv{
    min-height: 600px;
display: flex;
justify-content: center;
align-items: center;
}

form{
    border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    background-color: rgb(128, 128, 128);
    width: 30%;
}